/* Reset básico */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Configuración de la página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Navbar */
nav {
    background: #d1d1d1;
    color: #ea4040;
    padding: 1rem 0;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

nav .logo {
    font-family: 'Anton';
    font-size: 3rem;
    text-decoration: none;
    color: #000;
}

nav .nav-links {
    list-style: none;
}

nav .nav-links li {
    display: inline;
    margin-left: 1rem;
}

nav .nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}

nav .nav-links a:hover {
    color: #ea4040;
    font-weight: bold; /* hacer q la letra este en negrita*/
}

/* Encabezado */
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("https://preview.redd.it/which-is-your-top-pair-of-2023-v0-tjgkgcm2v88c1.jpeg?width=1080&crop=smart&auto=webp&s=09adb58796614942beb758f981ec9c22d60cdfdd");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
    font-size: 4rem; /*cambiar tamaño de letra*/
    font-family: 'Anton';
}

.subtitulo {
    font-family: 'Anton';
    font-size: 2.5rem;
}
/* Sección de introducción */
.intro {
    padding: 1rem;
    text-align: center;
}

/* Tarjetas */
.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
}

.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem;
}

.card h2 {
    font-size: 1.5rem;
}

.card p {
    font-size: 1rem;
}

.card .imagen {
    width: 150px;
}

/* estilos del footer */

footer {
    margin-top: 2%;
    background-color: #ddd;
    padding-top: 2%;
    padding-left: 5%;
    padding-bottom: 2%;
    color: #868686;
}